{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ExtremeForms/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/ExtremeFormsApp/general.css' %}">
</head>
<body>
    <div class="content">
        <h1>Site Seguro</h1>
        
        <div class="dev_navbar">
            <a href="{% url 'ExtremeFormsApp:index' %}" class="dev_nav-link">Go to Index</a>
            <a href="{% url 'sec-home' %}" class="dev_nav-link">Página inicial de segurança</a>

            {% if user.is_authenticated %}
                <a href="{% url 'sec-logout' %}" class="dev_nav-link">Logout</a>
                <a href="{% url 'sec-password_change' %}" class="dev_nav-link">Trocar senha</a>
                <a href="{% url 'sec-completaDadosUsuario' pk=user.id %}" class="dev_nav-link">Terminar registro</a>
            {% else %}
                <a href="{% url 'register' %}" class="dev_nav-link">Registrar</a>
                <a href="{% url 'sec-login' %}?next={% url 'sec-secretPage' %}" class="dev_nav-link">Login</a>
            {% endif %}
        </div>

        <p>Você é {% firstof user.username "visitante" %}</p>
        <hr>
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>
