{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
    <link rel="stylesheet" href="{% static 'css/ExtremeFormsApp/new_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/ExtremeFormsApp/general.css' %}">
</head>

<body>
    <div class="content">
        {% include 'ExtremeFormsApp/links.html' %}
        <h1>New Form</h1>

        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="form-name">Nome do Formulário:</label>
                <input type="text" name="form_name" id="form-name" required>
                <button type="submit" name="action" value="create" class="toolbar_btn">Criar Formulário</button>
            </div>
        </form>
        
    </div>
</body>

</html>
